<div class="col-10 offset-1 about">
	<h1>About Splurty</h1>

    <p>
    	Splurty was built by <a target="_blank" href="https://cassandraperez.netlify.com">Cassandra</a>. Cassandra is attempting to learn the most about coding to become a web developer.
    </p>
    
    <br/>

    <p>
    	One day she will become a web developer and continue making web apps like splurty.
    </p>
    <p>
    	If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here </a>
    </p>

    <div class="row">
      <div class="col-12 col-sm-4" >
      	<%= image_tag 'me.jpg', class: 'img-fluid' %>
      </div>
    
    <div class="col-12 col-sm-7 offset-sm-1">
    	<h2> Cassandra Perez</h2>
    	<br />
    	<p>
    		Cassandra Perez is a bootcamp student learning the ways of coding to become a web developer and to create new opportunities 
    	</p>
    </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />


</div>